@model New_DTAPP.Models.SpillStatusModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Spill Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="SpillStatusDesc" class="form-label"></label>
                <input asp-for="SpillStatusDesc" class="form-control" />
                <span asp-validation-for="SpillStatusDesc" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
