USE [master]
GO
/****** Object:  Database [New_DTAPP]    Script Date: 2024-07-22 8:45:50 AM ******/
CREATE DATABASE [New_DTAPP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'New_DTAPP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.JIIFC\MSSQL\DATA\New_DTAPP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'New_DTAPP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.JIIFC\MSSQL\DATA\New_DTAPP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [New_DTAPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [New_DTAPP]
GO
/****** Object:  User [New_DTAPP]    Script Date: 2024-07-22 8:45:50 AM ******/
CREATE USER [New_DTAPP] FOR LOGIN [New_DTAPP] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [New_DTAPP]
GO
ALTER ROLE [db_datareader] ADD MEMBER [New_DTAPP]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [New_DTAPP]
GO
/****** Object:  Table [dbo].[edit_file]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edit_file](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_id] [int] NOT NULL,
	[transfer_id] [int] NOT NULL,
	[edit_date] [datetime] NOT NULL,
	[original] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[edit_transfer]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edit_transfer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edit_date] [datetime] NOT NULL,
	[original] [varchar](max) NOT NULL,
	[transfer_id] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[file]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file](
	[file_id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [varchar](max) NULL,
	[file_size] [varchar](max) NOT NULL,
	[transfer_id] [int] NULL,
	[comment] [varchar](max) NULL,
	[file_sent] [bit] NOT NULL,
	[file_ext] [varchar](64) NOT NULL,
 CONSTRAINT [PK_file] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operation]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operation](
	[operation_id] [int] IDENTITY(1,1) NOT NULL,
	[operation_name] [varchar](max) NOT NULL,
	[archived] [bit] NOT NULL,
 CONSTRAINT [PK_operation] PRIMARY KEY CLUSTERED 
(
	[operation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](max) NOT NULL,
	[ordering] [int] NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system](
	[system_id] [int] IDENTITY(1,1) NOT NULL,
	[system_name] [varchar](max) NOT NULL,
	[archived] [bit] NOT NULL,
 CONSTRAINT [PK_system] PRIMARY KEY CLUSTERED 
(
	[system_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transfer]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transfer](
	[transfer_id] [int] IDENTITY(1,1) NOT NULL,
	[request_created_at] [datetime] NOT NULL,
	[sent_time] [datetime] NULL,
	[client_name] [varchar](max) NULL,
	[client_unit_id] [int] NULL,
	[operation_id] [int] NULL,
	[orig_system_id] [int] NOT NULL,
	[dest_system_id] [int] NOT NULL,
	[isso_approval] [bit] NOT NULL,
	[issue_reported] [bit] NOT NULL,
	[spill_prevented] [bit] NOT NULL,
	[spill_occurred] [bit] NOT NULL,
	[comments] [varchar](max) NULL,
	[urgent] [bit] NOT NULL,
	[virus_definition_date] [datetime] NULL,
	[machine_name] [varchar](max) NULL,
	[reviewed] [bit] NOT NULL,
	[reviewed_user_id] [int] NULL,
	[reviewed_at] [datetime] NULL,
	[completed_user_id] [int] NULL,
	[completed_at] [datetime] NULL,
	[completed] [bit] NOT NULL,
	[transfer_type] [int] NOT NULL,
 CONSTRAINT [PK_transfer] PRIMARY KEY CLUSTERED 
(
	[transfer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transferType]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transferType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transfer_type] [varchar](64) NOT NULL,
	[archived] [bit] NOT NULL,
	[ordering] [int] NOT NULL,
 CONSTRAINT [PK_transferType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unit]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unit](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [varchar](max) NOT NULL,
	[archived] [bit] NOT NULL,
 CONSTRAINT [PK_unit] PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2024-07-22 8:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NOT NULL,
	[first_name] [varchar](max) NOT NULL,
	[last_name] [varchar](max) NOT NULL,
	[title] [varchar](100) NULL,
	[email] [varchar](max) NOT NULL,
	[disabled] [bit] NOT NULL,
	[role_id] [int] NOT NULL,
	[alias] [varchar](max) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[edit_file] ON 

INSERT [dbo].[edit_file] ([id], [file_id], [transfer_id], [edit_date], [original]) VALUES (1, 234, 99, CAST(N'2024-07-12T00:00:00.000' AS DateTime), N'[{"file_id":234,"file_name":"Manualy Added","file_size":"32 KB","transfer_id":99,"comment":"","file_sent":true,"file_ext":"pdf"}]')
INSERT [dbo].[edit_file] ([id], [file_id], [transfer_id], [edit_date], [original]) VALUES (2, 235, 99, CAST(N'2024-07-12T00:00:00.000' AS DateTime), N'[{"file_id":235,"file_name":"Manualy Added","file_size":"32 KB","transfer_id":99,"comment":"","file_sent":true,"file_ext":"pdf"}]')
INSERT [dbo].[edit_file] ([id], [file_id], [transfer_id], [edit_date], [original]) VALUES (3, 236, 99, CAST(N'2024-07-12T00:00:00.000' AS DateTime), N'[{"file_id":236,"file_name":"Manualy Added","file_size":"32 KB","transfer_id":99,"comment":"","file_sent":true,"file_ext":"pdf"}]')
SET IDENTITY_INSERT [dbo].[edit_file] OFF
GO
SET IDENTITY_INSERT [dbo].[edit_transfer] ON 

INSERT [dbo].[edit_transfer] ([id], [edit_date], [original], [transfer_id]) VALUES (6, CAST(N'2024-07-12T00:00:00.000' AS DateTime), N'[{"transfer_id":99,"request_created_at":"2024-07-08T16:10:00","sent_time":"2024-07-09T16:10:00","client_name":"mcgee.s","client_unit_id":9,"orig_system_id":4,"dest_system_id":4,"isso_approval":false,"issue_reported":false,"spill_prevented":false,"spill_occurred":false,"urgent":false,"reviewed":false,"completed_user_id":2,"completed_at":"2024-07-09T12:10:40.883","completed":false,"transfer_type":1}]', 99)
INSERT [dbo].[edit_transfer] ([id], [edit_date], [original], [transfer_id]) VALUES (7, CAST(N'2024-07-12T00:00:00.000' AS DateTime), N'[{"transfer_id":99,"request_created_at":"2024-07-08T16:10:00","sent_time":"2024-07-09T16:10:00","client_name":"mcgee.s","client_unit_id":8,"orig_system_id":4,"dest_system_id":3,"isso_approval":false,"issue_reported":false,"spill_prevented":false,"spill_occurred":false,"urgent":false,"reviewed":false,"completed_user_id":2,"completed_at":"2024-07-09T12:10:40","completed":false,"transfer_type":1}]', 99)
INSERT [dbo].[edit_transfer] ([id], [edit_date], [original], [transfer_id]) VALUES (8, CAST(N'2024-07-12T00:00:00.000' AS DateTime), N'[{"transfer_id":99,"request_created_at":"2024-07-08T16:10:00","sent_time":"2024-07-09T16:10:00","client_name":"mcgee.s","client_unit_id":8,"orig_system_id":4,"dest_system_id":3,"isso_approval":false,"issue_reported":false,"spill_prevented":false,"spill_occurred":false,"urgent":false,"reviewed":false,"completed_user_id":2,"completed_at":"2024-07-09T12:10:40","completed":false,"transfer_type":1}]', 99)
SET IDENTITY_INSERT [dbo].[edit_transfer] OFF
GO
SET IDENTITY_INSERT [dbo].[file] ON 

INSERT [dbo].[file] ([file_id], [file_name], [file_size], [transfer_id], [comment], [file_sent], [file_ext]) VALUES (113, N'Program.cs', N'105 bytes', 63, N'fffffffffff', 0, N'.cs')
INSERT [dbo].[file] ([file_id], [file_name], [file_size], [transfer_id], [comment], [file_sent], [file_ext]) VALUES (141, N'20230702_135450.jpg', N'5.31 MB', 68, N'', 0, N'.jpg')
INSERT [dbo].[file] ([file_id], [file_name], [file_size], [transfer_id], [comment], [file_sent], [file_ext]) VALUES (142, N'20230702_135450.jpg', N'5.31 MB', 69, N'', 0, N'.jpg')
SET IDENTITY_INSERT [dbo].[file] OFF
GO
SET IDENTITY_INSERT [dbo].[operation] ON 

INSERT [dbo].[operation] ([operation_id], [operation_name], [archived]) VALUES (1, N'operationsss', 0)
INSERT [dbo].[operation] ([operation_id], [operation_name], [archived]) VALUES (2, N'Zions', 1)
INSERT [dbo].[operation] ([operation_id], [operation_name], [archived]) VALUES (6, N'test', 0)
SET IDENTITY_INSERT [dbo].[operation] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_name], [ordering]) VALUES (3, N'User', 1)
INSERT [dbo].[role] ([role_id], [role_name], [ordering]) VALUES (4, N'Admin', 3)
INSERT [dbo].[role] ([role_id], [role_name], [ordering]) VALUES (5, N'Supervisor', 2)
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[system] ON 

INSERT [dbo].[system] ([system_id], [system_name], [archived]) VALUES (1, N'system', 0)
INSERT [dbo].[system] ([system_id], [system_name], [archived]) VALUES (2, N'JIIFC LAN', 0)
INSERT [dbo].[system] ([system_id], [system_name], [archived]) VALUES (3, N'DWAN', 0)
SET IDENTITY_INSERT [dbo].[system] OFF
GO
SET IDENTITY_INSERT [dbo].[transfer] ON 

INSERT [dbo].[transfer] ([transfer_id], [request_created_at], [sent_time], [client_name], [client_unit_id], [operation_id], [orig_system_id], [dest_system_id], [isso_approval], [issue_reported], [spill_prevented], [spill_occurred], [comments], [urgent], [virus_definition_date], [machine_name], [reviewed], [reviewed_user_id], [reviewed_at], [completed_user_id], [completed_at], [completed], [transfer_type]) VALUES (19, CAST(N'2023-09-22T09:20:49.000' AS DateTime), NULL, N'hendley.j', 1, 1, 2, 1, 0, 0, 1, 0, NULL, 0, NULL, NULL, 0, 2, NULL, 2, NULL, 0, 1)
INSERT [dbo].[transfer] ([transfer_id], [request_created_at], [sent_time], [client_name], [client_unit_id], [operation_id], [orig_system_id], [dest_system_id], [isso_approval], [issue_reported], [spill_prevented], [spill_occurred], [comments], [urgent], [virus_definition_date], [machine_name], [reviewed], [reviewed_user_id], [reviewed_at], [completed_user_id], [completed_at], [completed], [transfer_type]) VALUES (49, CAST(N'2024-03-22T09:11:40.000' AS DateTime), NULL, N'Joe ', 1, 1, 1, 2, 0, 0, 0, 0, N'None', 0, NULL, NULL, 0, NULL, NULL, 3, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[transfer] OFF
GO
SET IDENTITY_INSERT [dbo].[transferType] ON 

INSERT [dbo].[transferType] ([id], [transfer_type], [archived], [ordering]) VALUES (1, N'Transfer Request', 0, 1)
INSERT [dbo].[transferType] ([id], [transfer_type], [archived], [ordering]) VALUES (2, N'Standing Transfer', 0, 2)
INSERT [dbo].[transferType] ([id], [transfer_type], [archived], [ordering]) VALUES (3, N'Bulk Transfer', 0, 3)
SET IDENTITY_INSERT [dbo].[transferType] OFF
GO
SET IDENTITY_INSERT [dbo].[unit] ON 

INSERT [dbo].[unit] ([unit_id], [unit_name], [archived]) VALUES (1, N'unit1u', 0)
INSERT [dbo].[unit] ([unit_id], [unit_name], [archived]) VALUES (2, N'JIIFC', 0)
INSERT [dbo].[unit] ([unit_id], [unit_name], [archived]) VALUES (3, N'CJOC', 0)
SET IDENTITY_INSERT [dbo].[unit] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [username], [first_name], [last_name], [title], [email], [disabled], [role_id], [alias]) VALUES (1, N'hendley.j', N'Jonathan', N'Hendley', NULL, N'hendley.j@JIIFC.MIL.CA', 0, 3, NULL)
INSERT [dbo].[user] ([user_id], [username], [first_name], [last_name], [title], [email], [disabled], [role_id], [alias]) VALUES (2, N'mcgee.s', N'Stephen', N'McGee', NULL, N'mcgee.s@JIIFC.MIL.CA', 0, 4, NULL)
INSERT [dbo].[user] ([user_id], [username], [first_name], [last_name], [title], [email], [disabled], [role_id], [alias]) VALUES (3, N'lalonde.a', N'Alain', N'Lalonde', NULL, N'lalonde.a@JIIFC.MIL.CA', 0, 3, NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[transfer] ADD  CONSTRAINT [DF_transfer_reviewed]  DEFAULT ((0)) FOR [reviewed]
GO
ALTER TABLE [dbo].[transfer] ADD  CONSTRAINT [DF_transfer_completed]  DEFAULT ((0)) FOR [completed]
GO
ALTER TABLE [dbo].[transferType] ADD  CONSTRAINT [DF_transferType_archived]  DEFAULT ((0)) FOR [archived]
GO
ALTER TABLE [dbo].[transferType] ADD  CONSTRAINT [DF_transferType_ordering]  DEFAULT ((1)) FOR [ordering]
GO
ALTER TABLE [dbo].[file]  WITH CHECK ADD  CONSTRAINT [FK_file_transfer] FOREIGN KEY([transfer_id])
REFERENCES [dbo].[transfer] ([transfer_id])
GO
ALTER TABLE [dbo].[file] CHECK CONSTRAINT [FK_file_transfer]
GO
ALTER TABLE [dbo].[transfer]  WITH CHECK ADD  CONSTRAINT [FK_transfer_operation] FOREIGN KEY([operation_id])
REFERENCES [dbo].[operation] ([operation_id])
GO
ALTER TABLE [dbo].[transfer] CHECK CONSTRAINT [FK_transfer_operation]
GO
ALTER TABLE [dbo].[transfer]  WITH CHECK ADD  CONSTRAINT [FK_transfer_system] FOREIGN KEY([orig_system_id])
REFERENCES [dbo].[system] ([system_id])
GO
ALTER TABLE [dbo].[transfer] CHECK CONSTRAINT [FK_transfer_system]
GO
ALTER TABLE [dbo].[transfer]  WITH CHECK ADD  CONSTRAINT [FK_transfer_system1] FOREIGN KEY([dest_system_id])
REFERENCES [dbo].[system] ([system_id])
GO
ALTER TABLE [dbo].[transfer] CHECK CONSTRAINT [FK_transfer_system1]
GO
ALTER TABLE [dbo].[transfer]  WITH CHECK ADD  CONSTRAINT [FK_transfer_transfer_type] FOREIGN KEY([transfer_type])
REFERENCES [dbo].[transferType] ([id])
GO
ALTER TABLE [dbo].[transfer] CHECK CONSTRAINT [FK_transfer_transfer_type]
GO
ALTER TABLE [dbo].[transfer]  WITH CHECK ADD  CONSTRAINT [FK_transfer_unit] FOREIGN KEY([client_unit_id])
REFERENCES [dbo].[unit] ([unit_id])
GO
ALTER TABLE [dbo].[transfer] CHECK CONSTRAINT [FK_transfer_unit]
GO
ALTER TABLE [dbo].[transfer]  WITH CHECK ADD  CONSTRAINT [FK_transfer_user] FOREIGN KEY([completed_user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[transfer] CHECK CONSTRAINT [FK_transfer_user]
GO
ALTER TABLE [dbo].[transfer]  WITH CHECK ADD  CONSTRAINT [FK_transfer_user1] FOREIGN KEY([reviewed_user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[transfer] CHECK CONSTRAINT [FK_transfer_user1]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_role]
GO
USE [master]
GO
