@model New_DTAPP.Models.SpillModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<hr />
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="TransferId" class="fw-bold form-label">Transfer Request</label>
            <a class="form-control btn btn-primary" asp-controller="Transfers" asp-action="Details" asp-route-id="@Model.TransferId" title="Open the Transfer in a new tab">
                View Transfer <img id="testing" style="vertical-align:text-top!important;margin-left:5px!important;" src="~/images/box-arrow-up-right.svg" alt="Link to Transfer Image" height="20" width="20" />
            </a>
        </div>
    </div>
    <div class="col-5">
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="NatureOfSpill" class="fw-bold form-label">Nature of Spill</label>
            <input asp-for="NatureOfSpill" class="form-control" readonly />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="SpillStatus.SpillStatusDesc" class="fw-bold form-label">Spill Status</label>
            <input asp-for="SpillStatus.SpillStatusDesc" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="CFNOCIncidentNumber" class="fw-bold form-label">CFNOC Incident #</label>
            <input asp-for="CFNOCIncidentNumber" class="form-control" readonly />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="DGDSSIMIncidentNumber" class="fw-bold form-label">DGDS SIM Incident #</label>
            <input asp-for="DGDSSIMIncidentNumber" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="IssoInformed" class="fw-bold form-label">ISSO Informed</label>
            <input type="datetime" asp-format="{0:yyy/MM/dd HH:mm}" asp-for="IssoInformed" class="form-control" readonly />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="ManagerInformed" class="fw-bold form-label">Manager Informed</label>
            <input type="datetime" asp-format="{0:yyy/MM/dd HH:mm}" asp-for="ManagerInformed" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="DateOfSpill" class="fw-bold form-label">Date of Spill</label>
            <input type="datetime" asp-format="{0:yyy/MM/dd HH:mm}" asp-for="DateOfSpill" class="form-control" readonly />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="TimeIdentifiedSpill" class="fw-bold form-label">Time Identified as Spill</label>
            <input type="datetime" asp-format="{0:yyy/MM/dd HH:mm}" asp-for="TimeIdentifiedSpill" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="WorkstationAffected" class="fw-bold form-label">Workstation Affected</label>
            <input asp-for="WorkstationAffected" class="form-control" readonly />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="WorkstationAssetNumber" class="fw-bold form-label">Workstation Asset Number</label>
            <input asp-for="WorkstationAssetNumber" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="SpecialistUser.Username" class="fw-bold form-label">Specialist User Name</label>
            <input asp-for="SpecialistUser.Username" class="form-control" readonly />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="ReviewerUser.Username" class="fw-bold form-label">Reviewer User Name</label>
            <input asp-for="ReviewerUser.Username" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="OrigSystem.SystemName" class="fw-bold form-label">Originating System</label>
            <input asp-for="OrigSystem.SystemName" class="form-control" readonly />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <label asp-for="DestSystem.SystemName" class="fw-bold form-label">Destination System</label>
            <input asp-for="DestSystem.SystemName" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-3">
        <div class="mb-3 form-check text-start">
            <label class="fw-bold form-check-label">
                <input asp-for="BurnedAndAnnotated" class="form-check-input" disabled /> <span>Burned and Annotated</span>
            </label>
        </div>
    </div>
    <div class="col-9">
        <div class="mb-3 form-check text-start">
            <label class="fw-bold form-check-label">
                <input asp-for="TransferRequestCompleted" class="form-check-input" disabled /> <span>Transfer Request Completed</span>
            </label>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-3">
        <div class="mb-3 form-check text-start">
            <label class="fw-bold form-check-label">
                <input asp-for="ClientInformed" class="form-check-input" disabled /> <span>Client Informed</span>
            </label>
        </div>
    </div>
    <div class="col-9">
        <div class="mb-3 form-check text-start">
            <label class="fw-bold form-check-label">
                <input asp-for="ConsiderationPowerDown" class="form-check-input" disabled /> <span>Consideration Power Down</span>
            </label>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-3">
        <div class="mb-3 form-check text-start">
            <label class="fw-bold form-check-label">
                <input asp-for="EmailTripleDeleted" class="form-check-input" disabled /> <span>Email Triple Deleted</span>
            </label>
        </div>
    </div>
    <div class="col-9">
        <div class="mb-3 form-check text-start">
            <label class="fw-bold form-check-label">
                <input asp-for="CDSent" class="form-check-input" disabled /> <span>CD Sent</span>
            </label>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="SpillId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a class="btn btn-primary" asp-action="Index">Back</a>
</form>
