@model New_DTAPP.Models.SpillModel

@{
    ViewData["Title"] = "Edit";
}

@if (ViewBag.TransferIdFromLink != null)
{
    <h1>
        Linking 
        <a asp-controller="Transfers" asp-action="Details" asp-route-id="@ViewBag.TransferIdFromLink" title="Linking TransferId: @ViewBag.TransferIdFromLink to SpillId: @ViewBag.SpillIdForLink">
            Transfer
        </a>
    </h1>
}
else
{
    <h1>Edit</h1> 
}
<h4>Spill</h4>
<hr />
<form asp-action="Edit">
    <div class="row justify-content-between">
        <div class="col-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpillId" />
            <div class="mb-3">
                <label class="form-label">Transfer Request</label>
                <input type="hidden" asp-for="TransferId" class="form-control" readonly /><br />
                <a class="form-control btn btn-primary" asp-controller="Transfers" asp-action="Details" asp-route-id="@Model.TransferId" title="Open the Transfer in a new tab">
                    View Transfer <img id="testing" style="vertical-align:text-top!important;margin-left:5px!important;" src="~/images/box-arrow-up-right.svg" alt="Link to Transfer Image" height="20" width="20" />
                </a>
                <span asp-validation-for="TransferId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="NatureOfSpill" class="form-label">Nature of Spill <span class="text-danger fw-bold">*</span></label>
                <input asp-for="NatureOfSpill" class="form-control" required />
                <span asp-validation-for="NatureOfSpill" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="SpillStatusId" class="form-label">Spill Status <span class="text-danger fw-bold">*</span></label>
                <select asp-for="SpillStatusId" asp-items="ViewBag.SpillStatusId" class="form-control" required></select>
                <span asp-validation-for="SpillStatusId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="CFNOCIncidentNumber" class="form-label">CFNOC Incident #</label>
                <input asp-for="CFNOCIncidentNumber" class="form-control" />
                <span asp-validation-for="CFNOCIncidentNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="DGDSSIMIncidentNumber" class="form-label">DGDS SIM Incident #</label>
                <input asp-for="DGDSSIMIncidentNumber" class="form-control" />
                <span asp-validation-for="DGDSSIMIncidentNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="IssoInformed" class="form-label">ISSO Informed</label>
                <input type="datetime-local" asp-for="IssoInformed" class="form-control"  />
                <span asp-validation-for="IssoInformed" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="ManagerInformed" class="form-label">Manager Informed</label>
                <input type="datetime-local" asp-for="ManagerInformed" class="form-control" />
                <span asp-validation-for="ManagerInformed" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="DateOfSpill" class="form-label">Date of Spill <span class="text-danger fw-bold">*</span></label>
                <input type="datetime-local" asp-for="DateOfSpill" class="form-control" />
                <span asp-validation-for="DateOfSpill" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="TimeIdentifiedSpill" class="form-label">Time Identified as Spill <span class="text-danger fw-bold">*</span></label>
                <input type="datetime-local" asp-for="TimeIdentifiedSpill" class="form-control" />
                <span asp-validation-for="TimeIdentifiedSpill" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="WorkstationAffected" class="form-label">Workstation Affected</label>
                <input asp-for="WorkstationAffected" class="form-control" />
                <span asp-validation-for="WorkstationAffected" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="WorkstationAssetNumber" class="form-label">Workstation Asset Number</label>
                <input asp-for="WorkstationAssetNumber" class="form-control" />
                <span asp-validation-for="WorkstationAssetNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <input type="hidden" asp-for="SpecialistId" class="form-control" />
                <label asp-for="SpecialistId" class="form-label">Specialist User Name <span class="text-danger fw-bold">*</span></label>
                <select asp-for="SpecialistId" asp-items="ViewBag.SpecialistUserId" class="form-control" disabled></select>
                <span asp-validation-for="SpecialistId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label asp-for="ReviewerId" class="form-label">Reviewer User Name</label>
                <select asp-for="ReviewerId" asp-items="ViewBag.ReviewerUserId" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="ReviewerId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <input type="hidden" asp-for="OrigSystemId" class="form-control" />
                <label asp-for="OrigSystemId" class="form-label">Originating System <span class="text-danger fw-bold">*</span></label>
                <select asp-for="OrigSystemId" asp-items="ViewBag.OrigSystemId" class="form-control" disabled></select>
                <span asp-validation-for="OrigSystemId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <input type="hidden" asp-for="DestSystemId" class="form-control" />
                <label asp-for="DestSystemId" class="form-label">Destination System <span class="text-danger fw-bold">*</span></label>
                <select asp-for="DestSystemId" asp-items="ViewBag.DestSystemId" class="form-control" disabled></select>
                <span asp-validation-for="DestSystemId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-3">
            <div class="mb-3 form-check text-start">
                <label class="form-check-label">
                    <input asp-for="BurnedAndAnnotated" class="form-check-input" /> Burned and Annotated
                </label>
            </div>
        </div>
        <div class="col-9">
            <div class="mb-3 form-check text-start">
                <label class="form-check-label">
                    <input asp-for="TransferRequestCompleted" class="form-check-input" /> <span>Transfer Request Completed</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-3">
            <div class="mb-3 form-check text-start">
                <label class="form-check-label">
                    <input asp-for="ClientInformed" class="form-check-input" /> Client Informed
                </label>
            </div>
        </div>
        <div class="col-9">
            <div class="mb-3 form-check text-start">
                <label class="form-check-label">
                    <input asp-for="ConsiderationPowerDown" class="form-check-input" /> Consideration Power Down
                </label>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-3">
            <div class="mb-3 form-check text-start">
                <label class="form-check-label">
                    <input asp-for="EmailTripleDeleted" class="form-check-input" /> Email Triple Deleted
                </label>
            </div>
        </div>
        <div class="col-9">
            <div class="mb-3 form-check text-start">
                <label class="form-check-label">
                    <input asp-for="CDSent" class="form-check-input" /> CD Sent
                </label>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </div>
        </div>
        <div class="col-5">
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
