@using static Constants
@model New_DTAPP.Models.TransferModel
@{
    ViewData["Title"] = "Charts";
}
<h1>Charts</h1>
<a class="btn btn-primary" asp-action="RequestsByNetwork">Requests By Network</a>
<a class="btn btn-primary" asp-action="DataSizeByDestination">Data Size By Destination</a>
<a class="btn btn-primary" asp-action="TopClientsByRequests">Top Clients By</a>
<a class="btn btn-primary" asp-action="RequestsByHour">Requests by Hour</a>
<a class="btn btn-primary" asp-action="Routes">Routes</a>